.sidebar {

    width: 260px;
    min-height: 100vh;

    background: #1f2937;

    color: white;

    display: flex;
    flex-direction: column;

    padding: 30px 20px;

    position: sticky;
    top: 0;

}

.sidebar h2 {

    font-size: 28px;
    margin-bottom: 45px;

    font-weight: bold;

}

.sidebar a {

    text-decoration: none;

    color: #d1d5db;

    padding: 14px 18px;

    border-radius: 10px;

    margin-bottom: 12px;

    transition: .25s;

    font-weight: 500;

}

.sidebar a:hover {

    background: #374151;

    color: white;

}

.logout-btn {

    margin-top: auto;

    border: none;

    background: #dc2626;

    color: white;

    padding: 14px;

    border-radius: 10px;

    cursor: pointer;

    font-size: 16px;

    transition: .25s;

}

.logout-btn:hover{

    background:#b91c1c;

}